<bs-modal #addCatModal class="form_main">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title" class="heading" align='center'>Add Category</h4>

    </bs-modal-header>
    <bs-modal-body class="form">
        Select Category :
        <select class="selectpicker" class="txt" [(ngModel)]='model.Category' (change)='onCatChange()'>
                    <option>Electronics</option>
                    <option>Fashion </option>
                    <option>Furniture </option>
                    <option>Home Decors </option>
                    <option>Automobiles </option>
                  </select>
        <br> <br>

        <div>
            <input type='text' [(ngModel)]='model.CategoryDescription' placeholder="Category Description (Optional)" class="txt">
        </div>

        <div>
            <input type='text' [(ngModel)]='model.CategoryType' placeholder="Category Type" class="txt">
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)='dismiss()'>Close</button>
        <button type="button" class="btn btn-primary" (click)='addCategory()'>Add</button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #addSubCatModal class="form_main">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title" class="heading" align='center'>Add Sub-Category</h4>

    </bs-modal-header>
    <bs-modal-body class="form">
        Select Category :
        <select class="selectpicker" class="txt" [(ngModel)]='model.Category' (change)='onCatChange()' [attr.disabled]='true'>
                        <option>Electronics</option>
                        <option>Fashion </option>
                        <option>Furniture </option>
                        <option>Home Decors </option>
                        <option>Automobiles </option>
                      </select>
        <br> <br>

        <div>
            <input type='text' [attr.disabled]='true' [(ngModel)]='model.CategoryDescription' placeholder="Category Description" class="txt">
        </div>

        <div>
            <input type='text' [attr.disabled]="true" [(ngModel)]='model.CategoryType' placeholder="Category Type" class="txt">
        </div>
        <br> Select Sub-Category :

        <select [(ngModel)]='model.Subcategory' class="selectpicker" class="txt">
                    <option *ngFor='let cat of subCategoryOptions'>{{cat}}</option>
                  </select>
        <br> <br>

        <div>
            <input type='text' [(ngModel)]='model.SubCategoryDescription' placeholder="Sub-Category Description (Optional)" class="txt">
        </div>
        <div>
            <input type='text' [(ngModel)]='model.SubCategoryType' placeholder="Sub-Category Type (Optional)" class="txt">
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)='dismiss()'>Close</button>
        <button type="button" class="btn btn-primary" (click)='addSubCategory()'>Add</button>
    </bs-modal-footer>
</bs-modal>


<bs-modal #editCatModal class="form_main">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title" class="heading" align='center'>Edit Category</h4>

    </bs-modal-header>
    <bs-modal-body class="form">
        Select Category :
        <select class="selectpicker" class="txt" [(ngModel)]='model.Category' (change)='onCatChange()' [attr.disabled]='true'>
                        <option>Electronics</option>
                        <option>Fashion </option>
                        <option>Furniture </option>
                        <option>Home Decors </option>
                        <option>Automobiles </option>
                      </select>
        <br> <br>

        <div>
            <input type='text' [(ngModel)]='model.CategoryDescription' placeholder="Category Description (Optional)" class="txt">
        </div>

        <div>
            <input type='text' [(ngModel)]='model.CategoryType' placeholder="Category Type" class="txt">
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)='dismiss()'>Close</button>
        <button type="button" class="btn btn-primary" (click)='editCategoy()'>Add</button>
    </bs-modal-footer>
</bs-modal>

<bs-modal #editSubCatModal class="form_main">
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title" class="heading" align='center'>Edit Sub-Category</h4>

    </bs-modal-header>
    <bs-modal-body class="form">
        <br> Select Sub-Category :

        <select [(ngModel)]='model.Subcategory' class="selectpicker" class="txt">
                        <option *ngFor='let cat of subCategoryOptions'>{{cat}}</option>
                      </select>
        <br> <br>

        <div>
            <input type='text' [(ngModel)]='model.SubCategoryDescription' placeholder="Sub-Category Description (Optional)" class="txt">
        </div>
        <div>
            <input type='text' [(ngModel)]='model.SubCategoryType' placeholder="Sub-Category Type (Optional)" class="txt">
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" (click)='dismiss()'>Close</button>
        <button type="button" class="btn btn-primary" (click)='editSubCategory()'>Add</button>
    </bs-modal-footer>
</bs-modal>